asgiref==3.8.1
distlib==0.3.9
#This version of Django is vulnerable and should be updated to 5.1.5 or newer
Django==5.1.3
filelock==3.17.0
platformdirs==4.3.6
sqlparse==0.5.3
tzdata==2025.1
virtualenv==20.29.2
