<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
 
<body>
    <nav class="navbar is-white" > <!-- Changed header color to primary -->
        <div class="navbar-brand">
                
            <a href="{% url 'editor' %}" class="navbar-item has-text-black ok" style="font-size: 25px; font-weight:bold; font-family:'Times New Roman', Times, serif; ">Notes</a>
            <a href="{% url 'editor' %}?docid=0"  class="button is-primary" style=" font-weight:bold; font-family:'Times New Roman', Times, serif; margin-top:5%; margin-right:10px">New Note</a>
 
            <a href="{% url 'logout' %}"  class="button is-danger" style=" font-weight:bold; font-family:'Times New Roman', Times, serif; margin-top:5%">Logout</a>
 
            <form action="http://127.0.0.1:8000/" method="post" style="margin-top:5%; margin-right:10px">
                <input type="hidden" name="title" value="The current user didn't post this" />
                <input type="hidden" name="content" value="This note is public and the content could be anything from misinformation to horrible things that will get this user in trouble with the admin" />
                <input type="hidden" name="public" value="1" />
                <input type="submit" name="btnSubmit" value="Test CSRF" />
            </form>
 
          </div>
        <div class="navbar-menu">
             
                
             
        </div>
    </nav>
    <hr>
     
    
           
    <section class="section">
         
        <div class="columns">
            <div class="column is-2">
                <aside class="menu">
                    <p class="menu-label" style="font-size: 20px; font-weight:bold; font-family:'Times New Roman', Times, serif">Notes</p>
                    <ul class="menu-list">
                        {% for doc in notes %}
                            <li>
                                <a href="{% url 'editor' %}?docid={{ doc.id }}">{{ doc.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
 
            <div class="column is-5 mt-3 pt-4" >
                <br>
                <div class="box" >
                     
                    <form method="post" action="{% url 'editor' %}">
                        {% csrf_token %}
                        <input type="hidden" name="docid" value="{{ docid }}">
                        <div class="field">
                            <label class="label" style="font-size: 22px; font-family:'Times New Roman', Times, serif">Title</label>
                            <div class="control">
                                <div name="title">{% if note %}{{ note.title|safe }}{% endif %}</div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" style="font-size: 20px; font-family:'Times New Roman', Times, serif">Content</label>
                            <div class="control">
                                <!-- Flaw 3 if fixed by removing |safe or changing it to |escape from below line and line 63 -->
                                <div name="content" >{% if note %}{{ note.content|safe }}{% endif %}</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
